body {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

p {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 0;
}

.card {
  background-color: #f8f9fa; /* light background for contrast */
  border-radius: 15px;
  border: none;
}

.input-group-text {
  background-color: #e9ecef;
  border-right: none;
}

.form-control {
  border-left: none;
  padding: 0.75rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-link {
  color: #007bff;
  font-weight: 500;
}

.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.text-danger {
  font-weight: 500;
}
